<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">State</h1>
</div>


<table>
    <tr ng-repeat="x in names">
        <td>5 Highest price item</td>
        <td>Highest price item</td>
        <td>Top 5 sel</td>
      <td>Top 5 unique sel</td>
      <td>past 5 days $</td>
    </tr>
    <tr ng-repeat="x in names">
        <td><div class="col-md-4" *ngFor="let product of productList">
            <app-state-items [productItem]= "product" ></app-state-items>
        </div></td>
        <td><div class="col-md-4" *ngFor="let product of maxProduct">
             <app-state-items [productItem]= "product" ></app-state-items> 
        </div></td>
        <td><div class="col-md-4" *ngFor="let product of productList">
            <!-- <app-state-items [productItem]= "product" ></app-state-items> -->
        </div></td>
        <td><div class="col-md-4" *ngFor="let product of productList">
            <!-- <app-state-items [productItem]= "product" ></app-state-items> -->
        </div></td>
        <td><div class="col-md-4" *ngFor="let product of productList">
            <!-- <app-state-items [productItem]= "product" ></app-state-items> -->
        </div></td>
        
    </tr>
  </table>
